#root button {
  margin: 20px;
}

#root button:first-child {
  margin: 20px 10px;
}

#root div span {
  width: 50px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
